a#first {
  color: #c4c4c4;
  font-size: 20px;
  font-weight: bold;
}

i #first {
  color: white;
}

a#first:hover {
  background-color: #04c35c;
  color: #000000;
}

a#first:hover > i#first {
  color: #000000;
}
